{% extends 'base.html.twig' %}

{% block title %}Create Task{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Create a new task</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <button class="btn button-stylized" type="submit">Create</button>
    {{ form_end(form) }}
</div>
{% endblock %}
